* {
    padding: 0;
    margin: 0;
}

.top1 {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #b35454;
    z-index: 1;
}

.top2 {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #c2c1c1;
    /* border: 1px solid #2124f8; */
}

.sign-pic {
    position: relative;
    display: inline-block;
    margin: 7px 10px 0px 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url('../img/sign1.ico');
    /* border: 1px solid #2124f8; */
}

.sign-words {
    /* border: 1px solid #2124f8; */
    position: relative;
    display: inline-block;
    width: 10%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 800;
    color: #444;
    font-family: 'Times New Roman', Times, serif;
}

.top-menu {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 55%;
    width: 30%;
    height: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    /* border: 1px solid #2124f8; */
}

.top-menu li {
    float: left;
    color: #333;
    margin-right: 30px;
    font-weight: 700;
    font-family: '宋体'
}

.top-menu a:hover {
    color: #eb7350;
}

ul {
    list-style: none;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

.login::before {
    content: '|';
}

/* .menu::before{
    content:'';
    display: inline-block;
    background-image: url('../img/menu.ico');
    background-size: 100% 100%;
    width:20px;
    height: 20px;
    margin-right: -5px; 
    margin-top:5px;
} */

.main {
    background: #f3f3f3;
    height: 300%;
    width: 50%;
    position: absolute;
    left: 20%;
}

.left-menu {
    position: fixed;
    width: 9%;
    height: 80%;
    background-color: #fff;
    left: 10%;
    top: 9%;
}

.left-menu ul li {
    text-align: center;
    top: 4%;
    height: 40px;
    /* border: 1px solid #2124f8; */
    line-height: 40px;
    font-family: '宋体';
    font-size: 19px;
    font-weight: bolder;
}

.left-menu ul li:hover {
    background-color: #fa2f2f;
    border-radius: 5%;
}

.wheel {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: #333;
    top: 4%;
    box-shadow: 0px 1px 0px 1px #444;
    color: #fa2f2f;
    line-height: 400px;
    text-align: center;
    margin-bottom: 11%;
}

.article p {
    position: relative;
    width: 98%;
    background-color: #fff;
    text-indent: 2em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1px;
    padding: 1px 10px 1px 10px;
}

.login-box {
    position: absolute;
    display: inline-block;
    width: 24%;
    height: 60%;
    background-color: #f3f3f3;
    top: 12%;
    left:72%;
}
.city{
    position: absolute;
    display: inline-block;
    color: #444;
    font-size: 14px;
    font-weight: bolder;
    top:10%;
    left: 95%;
}

.location{
    position: absolute;
    width: 50px;
    height: 30px;
    display: inline-block;
    background-color: rgb(2, 130, 250);
    text-align: center;
    line-height: 30px;
    color: #f3f3f3;
    border-radius: 10%;
    top:90%;
    left:96%
}


.city::before{
    content: "";
    float: left;
    background-image:url('../img/location1.ico') ;
    background-size: 100% 100%;
    width:25px;
    height: 30px;
}