* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top1 {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #b35454;
    z-index: 999;
}

.top2 {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #c2c1c1;
    /* border: 1px solid #2124f8; */
}

.sign-pic {
    position: relative;
    display: inline-block;
    margin: 7px 10px 0px 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url('../img/sign1.ico');
    /* border: 1px solid #2124f8; */
}

.sign-words {
    /* border: 1px solid #2124f8; */
    position: relative;
    top: -10px;
    display: inline-block;
    width: 10%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 800;
    color: #444;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700px;
}

.main {
    color: #28404b;
}

.top-menu {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 55%;
    width: 30%;
    height: 30px;
    line-height: 40px;
    margin-bottom: 5px;
    /* border: 1px solid #2124f8; */
}

.top-menu li {
    float: left;
    color: #333;
    margin-right: 30px;
    font-weight: 700;
    font-family: '宋体'
}

.top-menu a:hover {
    color: #eb7350;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.login::before {
    content: '|';
}

.main {
    background: #f3f3f3;
    height: 290%;
    width: 50%;
    position: absolute;
    left: 20%;
}

.left-menu {
    position: fixed;
    width: 9%;
    height: 80%;
    background-color: #fff;
    left: 10%;
    top: 11%;
}

.left-menu ul li {
    text-align: center;
    top: 4%;
    height: 40px;
    /* border: 1px solid #2124f8; */
    line-height: 40px;
    font-family: '宋体';
    font-size: 19px;
    font-weight: bolder;
}

.left-menu ul li a {
    display: block;
    height: inherit;
    width: inherit;
}

.left-menu ul li:hover {
    /* background-color: #fa2f2f; */
    border-radius: 5%;
}

/* 轮播部分------------------------- */

.wheel {
    width: 100%;
    height: 18%;
    /* background-color: aqua; */
    /* 居中 */
    margin: 70px 0 10px 0;
    ;
}

.wheel ul {
    list-style: none;
}

.wheel img {
    position: absolute;
    width: 100%;
    height: 18%;
    display: none;
}

.btn {
    position: relative;
    width: 96px;
    left: 44%;
    top: 90%;
}

/* 注意下面两个css设置，设计权重的问题 */

.btn li {
    display: inline-block;
    background-color: #ddd;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    list-style: none;
}

/* 权重要比上面的 .btn li 高才能显示*/

.btn .btn1 {
    background-color: #e8f808;
}

/* ------------------------- */

.login-box {
    position: absolute;
    display: inline-block;
    width: 16%;
    height: 40%;
    background-color: #f3f3f3;
    top: 12%;
    left: 72%;
}

.login-box input {
    text-indent: 5px;
    height: 25px;
    width: 70%;
    left: 30px;
    margin-top: 20px;
}

.login-box span {
    text-align: center;
    float: left;
    width: 44%;
    margin-top: 20px;
    margin-left: 6px;
    color: #777;
    font-weight: 600;
}

.safe-login {
    border-left: 2px solid #777;
}

.account-login:hover {
    color: #fa2f2f;
}

.safe-login:hover {
    color: #fa2f2f;
}

.account {
    margin-top: 50px;
    display: block;
}

.account p {
    float: left;
    /* border: 1px solid #333; */
    width: 100%;
    height: 25px;
    margin: 0 0 20px 0;
}

#submit {
    float: left;
    width: 70%;
    height: 27px;
    padding-top: 3px;
    background-color: #777;
    color: #fa2f2f;
    margin-top: 20px;
    text-align: center;
    margin-left: 35px;
    font-weight: 700px;
}

.forget {
    float: left;
    color: #777;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 35px;
    font-weight: 600px;
}

#username::before {
    float: left;
    content: "";
    background-image: url('../img/login.ico');
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-top: 22px;
}

#password::before {
    float: left;
    content: "";
    background-image: url('../img/video.ico');
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-top: 22px;
}

.safe {
    position: relative;
    background-image: url('../img/safe-login.jpg');
    background-size: 100% 100%;
    margin-top: 25%;
    height: 80%;
    width: 100%;
    display: none;
}

.city {
    background-color: rgba(243, 51, 26, 0.7);
    position: absolute;
    display: none;
    color: #444;
    font-size: 14px;
    font-weight: bolder;
    top: 80%;
    right: 0%;
    width: 120px;
    margin-top: 0.8%;
    padding-left: 0.8%;
    padding-bottom: 0.5%;
    margin-left: 1%;
}

.city li {
    position: relative;
    float: left;
    width: 28%;
    margin-left: 1%;
    margin-right: 1%;
}

.city :hover {
    color: #f3f3f3;
}

.location {
    position: absolute;
    width: 70px;
    height: 30px;
    display: none;
    background-color: rgb(2, 130, 250);
    text-align: center;
    line-height: 30px;
    color: #f3f3f3;
    border-radius: 10%;
    top: 90%;
    left: 94%
}

.location-img {
    position: absolute;
    top: 30%;
    left: 95%;
    display: inline-block;
    background-image: url('../img/location1.ico');
    background-size: 100% 100%;
    width: 25px;
    height: 30px;
}

/* 学校列表 */

.school-list {
    position: absolute;
    display: inline-block;
    background-color: #f3f3f3;
    width: 16%;
    height: 50%;
    top: 55%;
    left: 72%;
    color: #28404b;
    padding-left: 10px;
    overflow: hidden;
}

.school-list ul li {
    display: inline-block;
    width: 48%;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    /* 超出不换行，显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.school-content {
    text-align: center;
    margin: 10px 0 10px -5px;
    font-size: 16px;
    font-weight: 700;
    color: #444
}

.school-list ul li a {
    text-decoration: none;
}

.school-list ul li a:hover {
    font-weight: 600;
    color: #fa2f2f;
}

/* 热点列表 */

.hotMsg-list {
    position: absolute;
    display: inline-block;
    background-color: #f3f3f3;
    width: 16%;
    height: 55%;
    top: 110%;
    left: 72%;
    color: #28404b;
    padding: 10px 10px 20px 10px;
    overflow: hidden;
}

.hotMsg-list ul li {
    /* display: inline-block; */
    width: 100%;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    /* 超出不换行，显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hotMsg-content {
    text-align: center;
    margin: 10px 0 10px -5px;
    font-size: 16px;
    font-weight: 700;
    color: #444
}

.hotMsg-list ul li a {
    text-decoration: none;
}

.hotMsg-list ul li a:hover {
    font-weight: 600;
    color: #fa2f2f;
}

/* 图片视频短文区 */

.para_para {
    position: relative;
    width: 100%;
    background-color: #fff;
    text-indent: 2em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    padding: 10px 10px 10px 10px;
}

.para_para p {
    text-indent: 2em;
}

.new_para {
    position: relative;
    width: 100%;
    background-color: #fff;
    text-indent: 2em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    padding: 10px 10px 10px 10px;
    display: none;
}

.para_video {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.para_img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.img_para {
    position: relative;
    width: 100%;
    height: 320px;
    background-color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid #777;
}

.img_para_title {
    text-indent: 2em;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.img_video {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 200px;
    top: 0;
    left: 0;
}

.img_inline img {
    position: relative;
    display: inline-block;
    width: 22%;
    margin: 0 8px;
    height: 200px;
    left: 0;
}

.img_video video {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    margin-top: -3px;
}

.img_video img {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

.img_title {
    position: relative;
    text-indent: 2em;
    width: 48%;
    float: right;
    word-wrap: break-word;
    margin-top: 10px;
}

.img_person_photo {
    position: absolute;
    background-image: url("../img/photo.jpg");
    float: left;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    left: 51%;
    top: 80%;
    border-radius: 50%;
    margin-right: 2px;
}

.img_person_photo1 {
    position: absolute;
    background-image: url("../img/photo1.jpg");
    float: left;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    left: 51%;
    top: 80%;
    border-radius: 50%;
    margin-right: 2px;
}

.para_para_title {
    text-align: center;
    background-color: #fff;
    margin-bottom: 10px;
    color: #28404b;
}

.img_person {
    position: absolute;
    color: #444;
    left: 55%;
    top: 81%;
    font-size: 14px;
    width: 140px;
    height: 25px;
    /* 超出区域显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.issue_date {
    position: absolute;
    display: inline-block;
    color: #444;
    left: 76%;
    margin-left: 10px;
    top: 81%;
    font-size: 14px;
}

/* 下拉刷新展示 */

.page_bottom {
    position: absolute;
    bottom: 0;
    color: #333;
    width: 100%;
    padding-top: 10px;
    height: 50px;
    background-color: #fff;
    text-align: center;
}

/* 网站介绍部分 */

.describe {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background-color: #f3f3f3;
    width: 100%;
    height: 200px;
    color: #444;
}

.record {
    /* border: 1px solid #000; */
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 22%;
    height: 80%;
}

.tel {
    /* border: 1px solid #000; */
    position: absolute;
    left: 24%;
    display: inline-block;
    width: 25%;
}

.tel p {
    line-height: 200%;
}

.record li {
    list-style: none;
    text-decoration: none;
    line-height: 200%;
}

.ewm {
    /* border: 1px solid #000; */
    margin-right: 10%;
    position: absolute;
    left: 50%;
    display: inline-block;
    width: 25%;
    height: 70%;
}

.ewm img {
    position: absolute;
    display: inline-block;
    width: 100%;
    height:100%;
    margin-top: 5%;
}

.ewm p {
    text-align: center;
}

.help {
    /* border: 1px solid #000; */
    position: relative;
    left: 72%;
    margin-left: 10%;
    width: 25%;
    height: 80%;
}

.help ul {
    width: 100%;
}

.help li {
    list-style: none;
    line-height: 200%;
}

/* --------------------- */

em{
    font-style: normal;
    color: red;
}