* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.index-body {
    height: 100vh;
    width: 100%;
    background-image: url("../img/index-bcg.png");
    background-size: 100% 100%;
    background-position: 150px 100px;
    background-repeat: no-repeat;
}

.top {
    width: 700px;
    height: 110px;
    color: #f2f6f7;
    position: absolute;
    top: 30px;
    left: 30%;
    font-size: 30px;
    text-align: left;
    font-family: '宋体';
}

.sign {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 100px;
}

h1 {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.God {
    position: relative;
    top: 50px;
}

.God:hover {
    color: rgb(251, 255, 0);
    font-size: 66px;
}

.design {
    color: #28404b;
    position: absolute;
    width: 60%;
    top: 10px;
    left: 40%;
    font-size: 69px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    margin-top: 15px;
    text-indent: 2em;
    margin-left: -150px;
    font-size: 20px;
    font-family: serif;
    color: #f2f6f7;
}

.cartoon {
    position: absolute;
    float: left;
    top: 30%;
    width: 20%;
    left: 15%;
    height: 50%;
}

.surface {
    position: relative;
    top: -20%;
    ;
}

.register {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 500px;
    height: 400px;
}

.accunt_userName {
    margin: 20px 0;
    color: #f3f3f3;
    width: 99%;
    height: 30px;
    padding: 5px 1px;
    margin-bottom: 30px;
}

.accunt_passWord {
    margin: 20px 0;
    color: #f3f3f3;
    width: 99%;
    height: 0px;
    padding: 5px 1px;
    /* border: 1px solid #fff; */
    margin-bottom: 50px;
}

.accunt_passWord1 {
    margin: 20px 0;
    color: #f3f3f3;
    width: 99%;
    height: 0px;
    padding: 5px 1px;
    margin-bottom: 50px;
    margin-left: 32px;
}

input {
    display: block;
    width: 70%;
    left: 50%;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    /* background-color:rgba(255, 255, 255, 0.6); */
}

.accunt_userName::before {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("../img/usm.jpg");
    content: "";
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    border: 1px solid #fff;
}

.accunt_passWord::before {
    margin-top: 6px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../img/psw.jpg');
    content: "";
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    border: 1px solid #fff;
}

.submit {
    background-color: rgba(13, 228, 228, 0.8);
    display: inline-block;
    width: 70%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    height: 32px;
    color: rgb(22, 50, 73);
    margin-left: 32px;
    margin-top: 20px;
    font-weight: 600;
}